/* CSS Reset */

@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;400&family=Open+Sans:wght@300;400&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* CSS Variables */

:root {
  --bg-dark__color: #000;
  --bg-light__color: #fff;
  --undertext-color: #797979;
  --text-dark__color: #333;
  --text-light__color: #fff;
  --bg-red__color: #f44336;
}

/* Global */

body {
  font-family: 'Lato', sans-serif;
  line-height: 1.6;
  background-color: var(--bg-light__color);
  color: var(--text-dark__color);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: var(--text-dark__color);
}

img {
  max-width: 100%;
}

.container {
  max-width: 1110px;
  margin: auto;
  overflow: auto;
  padding: 0 20px;
}

/* Utilities */

.undertext {
  font-size: 13px;
  color: var(--undertext-color);
  font-style: italic;
  margin: 15px 0;
}

.btn {
  display: inline-block;
  padding: 10px 15px;
  border-radius: 3px;
  cursor: pointer;
}

.btn:hover {
  background-color: #ccc;
  color: var(--text-dark__color);
}

.bg-light,
.btn-light {
  background-color: #f4f4f4;
  color: #333;
}

.bg-dark,
.btn-dark {
  background-color: #000;
  color: #f4f4f4;
}

.section-header {
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.section-header h2 {
  font-size: 40px;
  text-transform: uppercase;
  letter-spacing: 5px;
}

.section-padding {
  padding: 20px 40px;
}

/* Navbar */

#navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  height: 70px;
  padding: 0 30px;
  background-color: #000;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
}

#navbar ul {
  display: flex;
}

#navbar a {
  margin-right: 50px;
  color: #fff;
  text-transform: uppercase;
}

#navbar i {
  color: #fff;
}

/* Hero */

.hero .container {
  background: url('../img/la.jpg') no-repeat center center/cover;
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  color: #fff;
}

.hero .container h3 {
  font-weight: 400;
  font-size: 24px;
  margin: 10px 0;
}

.hero .container p {
  margin-bottom: 30px;
}

/* Band */

.band {
  padding: 30px 40px;
}

.band p {
  text-align: justify;
}

.members {
  display: flex;
  justify-content: space-evenly;
  text-align: center;
  align-items: center;
}

.members > div {
  margin: 20px 30px;
}

.members img {
  width: 60%;
  border-radius: 4px;
  vertical-align: middle;
}

.members h3 {
  font-size: 0.9rem;
  margin-bottom: 15px;
}

/* Tours */

.tours {
  min-height: 100vh;
  padding: 50px 30px;
}

.tours ul {
  height: 150px;
}

.tours ul li {
  width: 100%;
  background-color: var(--bg-light__color);
  color: var(--undertext-color);
  font-weight: bolder;
  height: 40px;
  border-bottom: 1px solid #ddd;
  padding: 7px;
  vertical-align: middle;
  text-align: left;
}

.tours ul li:last-child {
  border-bottom: none;
}

.tours .sold-out {
  background-color: #f44336;
  color: #fff;
  margin-left: 20px;
  padding: 4px 6px;
  font-size: 14px;
}

.tours .number {
  background-color: var(--bg-dark__color);
  color: var(--text-light__color);
  padding: 0 6px;
  border-radius: 50%;
  text-align: center;
  float: right;
  margin-right: 15px;
  margin-bottom: 20px;
}

.tours img {
  max-width: 100%;
  object-fit: cover;
}

.tours img:hover {
  opacity: 0.7;
}

.cities {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}

.cities .city .city-info {
  padding: 15px 20px;
  text-align: left;
}

.cities .city .city-info h3 {
  font-weight: bold;
  font-size: 1.1rem;
  color: var(--text-dark__color);
  margin-bottom: 10px;
}

.cities .city .city-info .city-undertext {
  font-size: 0.9rem;
  font-weight: 400;
  color: var(--undertext-color);
}

.cities .city .city-info p {
  margin: 15px 0;
}
